.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 0;
  text-align: center;
  font-family: 'avenirbold';
  font-size: 1.6rem;
  border-radius: 100px;
  color: $white;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: all 0.3s ease 0s;

  &:hover {
    transform: scale(1.1);
  }
}