$black: #000000;
$white: #FFFFFF;
$yellowwhite: #F2F0E8;
$navy: #364D6A;
$darknavy: #2C334B;
$lightblue: #599DC0;
$darkgray: #444444;
$grey: #A4ABB0;
$silver: #888888;
$lightgrey: #F2F2F2;
$pink: #AB5683;
$orange: #C07C59;
$smoke: #D0D0D0;
$whitesmoke: #FAFAFA;

$breakpoint: 600px;