@charset "UTF-8";

@import "common/const";
@import "common/general";
@import "common/container";
@import "common/header";
@import "common/header-title";
@import "common/blogli";
@import "common/footer";

.blog-list {
  @media (max-width: $breakpoint) {
    margin-top: 44px;
  }
}

.order {
  margin-top: (136/1280)*100vw;
  font-family: 'avenirbold';
  font-size: 1.6rem;
  display: flex;
  justify-content: center;

  a {
    color: $darknavy;
    border: 1px solid $darknavy;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 7.5px;
    transition: all 0.3s ease 0s;

    &:hover {
      color: $white;
      background: $darknavy;
    }
  }

  @media (max-width: $breakpoint) {
    a {
      width: 30px;
      height: 30px;
      margin: 0 2.5px;
    }
  }
}

.dots {
  display: flex;
  align-items: center;
  margin: 0 7.5px;
}

.current {
  color: $white;
  background: $darknavy;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7.5px;

  @media (max-width: $breakpoint) {
    width: 30px;
    height: 30px;
    margin: 0 2.5px;
  }
}