@charset "UTF-8";

@import "common/const";
@import "common/general";
@import "common/container";
@import "common/header";
@import "common/contact";
@import "common/footer";

.big-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &-back {
    flex: 1;
  }

  &-title {
    padding-top: (247/1280)*100vw;
    padding-bottom: (200/1280)*100vw;
    color: $white;

    h1 {
      font-family: 'avenirbold';
      font-size: calc(64px + ((1vw - 6px) * 1.176));
      letter-spacing: 0.1em;
      margin: 0 0 (48/1280)*100vw 0;
    }

    strong {
      font-family: 'avenirbold';
      font-size: 2.4rem;
      letter-spacing: 0.1em;
    }
  }

  @media (max-width: $breakpoint) {
    &-title {
      padding-top: (157/375)*100vw;

      h1 {
        font-size: 2.6rem;
      }

      strong {
        font-size: 1.6rem;
      }
    }
  }
}

.asidepage {
  display: flex;
  align-items: flex-end;
  position: relative;
  top: -100px;

  &-info {
    background-image: linear-gradient($navy, $lightblue);
    color: $white;
    width: 50%;
    padding: (75/1280)*100vw;
    box-sizing: border-box;

    h2 {
      font-family: 'avenirbold';
      font-size: 2.4rem;
      margin: 0;
      letter-spacing: 0.1em;
    }

    p {
      font-size: 1.6rem;
      margin: (50/1280)*100vw 0 0 0;
      line-height: 1.8;
    }
  }

  &-news {
    width: 50%;
    padding: 0 (48/1280)*100vw (75/1280)*100vw (48/1280)*100vw;
    box-sizing: border-box;

    h2 {
      font-family: 'avenirbold';
      font-size: 2.4rem;
      margin: 0;
      text-align: center;
      color: $navy;
      letter-spacing: 0.1em;
    }

    &-content {
      font-size: 1.6rem;
      margin-top: (64/1280)*100vw;
      display: flex;
      justify-content: space-between;
      color: $darkgray;

      p {
        margin: 0 0 0 (48/1280)*100vw;
      }
    }
  }

  @media (max-width: $breakpoint) {
    top: 0;
    max-width: (325/375)*100vw;
    margin: 37px auto 0 auto;

    &-info {
      background: none;
      padding: 0;
      color: $black;
      width: auto;

      h2 {
        font-size: 2.2rem;
      }

      p {
        margin-top: 50px;
        font-size: 1.2rem;
      }
    }

    &-news {
      width: auto;
      margin-top: 29px;
      padding: 0 0 13px 0;
      border-bottom: 10px solid $darknavy;

      h2 {
        text-align: left;
      }
      
      &-content {
        font-size: 1.2rem;

        time {
          font-family: 'avenirbold';
          font-weight: bold;
          color: $darknavy;
        }

        p {
          width: 61%;
        }
      }
    }
  }
}

.service {
  h2 {
    font-family: 'avenirbold';
    font-size: 4.8rem;
    color: $grey;
    text-align: center;
    margin: 0;
    letter-spacing: 0.1em;
  }

  a {
    display: block;
    margin: 58px auto 0 auto;
    padding: 24px 0;
    text-align: center;
    width: 27%;
    font-family: 'avenirbold';
    font-size: 1.6rem;
    border-radius: 50px;
    background: $navy;
    color: $white;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    margin: 34px 0 0 0;
    padding: 0;

    li {
      width: 30%;
    }

    figure {
      margin: 0;
    }

    img {
      width: 100%;
    }

    figcaption {
      position: relative;
    }

    p {
      margin: 60px auto 0 auto;
      font-size: 1.6rem;
      width: 90%;
      color: $grey;
      display: block;
    }

    &-title {
      display: flex;
      width: 90%;
      font-family: 'avenirbold';
      margin: 0 auto;
      position: absolute;
      top: -90px;
      left: 0;
      right: 0;
      letter-spacing: 0.1em;
      
      p {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:first-child {
          color: $white;
          font-size: 2.0rem;
          background: $darknavy;
          flex: 1;
        }
        
        &:last-child {
          font-size: 2.4rem;
          color: $darknavy;
          background: $white;
          padding: 5px 0;
          border: 3px solid $darknavy;
          box-sizing: border-box;
          flex: 4;
        }
      }
    }
  }

  @media (max-width: $breakpoint) {
    margin-top: (75/375)*100vw;

    h2 {
      font-size: 2.4rem;
    }

    a {
      width: auto;
    }

    &-list {
      flex-direction: column;

      li {
        margin-bottom: 44px;
        width: auto;

        &:last-child {
          margin-bottom: 0;
        }
      }

      p {
        font-size: 1.4rem;
      }
    }
  }
}

.blog {
  padding-top: (186/1280)*100vw;

  h2 {
    margin: 0;
    text-align: center;
    font-family: 'avenirbold';
    font-size: 4.8rem;
    color: $grey;
    letter-spacing: 0.1em;
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 47px;
    grid-row-gap: 67px;
    margin: 50px 0 0 0;
    padding: 0;

    figure {
      margin: 0;
    }

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      margin-top: 7px;
    }

    time {
      font-family: 'avenirbold';
      font-size: 1.6rem;
      color: $grey;
    }

    h3 {
      margin: 11px 0 0 0;
      font-size: 2.0rem;
      letter-spacing: 0.1em;
    }

    a {
      color: $darkgray;
    }

    p {
      margin: 13px 0 0 0;
      font-size: 1.6rem;
      color: $grey;
    }
  }

  &-link {
    display: block;
    margin: (118/1280)*100vw auto 0 auto;
    padding: 24px 0;
    text-align: center;
    width: 27%;
    font-family: 'avenirbold';
    font-size: 1.6rem;
    border-radius: 50px;
    background: $navy;
    color: $white;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  @media (max-width: $breakpoint) {
    padding-top: (75/375)*100vw;

    h2 {
      font-size: 2.4rem;
    }

    &-list {
      margin-top: 34px;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 18px;
      grid-row-gap: 33px;

      time {
        font-size: 1.2rem;
      }

      h3 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    &-link {
      margin-top: 58px;
      width: auto;
    }
  }
}

.map {
  margin-top: (150/1280)*100vw;
  width: 100%;
  height: 407px;
  filter: grayscale(100%);

  @media (max-width: $breakpoint) {
    margin-top: (75/375)*100vw;
  }
}

.contact {
  @media (max-width: $breakpoint) {
    padding-top: (75/375)*100vw;
  }
}