@charset "UTF-8";

@font-face {
  font-family: 'avenirregular';
  src: url('../../font/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: 'avenirbold';
  src: url('../../font/AvenirNextLTPro-Bold.otf');
}

$black: #000000;
$white: #FFFFFF;
$navy: #364D6A;
$darknavy: #2C334B;
$lightblue: #599DC0;
$darkgray: #444444;
$grey: #A4ABB0;
$lightgrey: #F2F2F2;
$silver: #888888;
$smoke: #D0D0D0;
$whitesmoke: #FAFAFA;

$breakpoint: 600px;

html {
  font-size: 62.5%;
}
body {
  font-family: 'avenirregular', sans-serif;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.wrapper {
  max-width: (1096/1280)*100vw;
  margin: 0 auto;

  @media (max-width: $breakpoint) {
    max-width: (325/375)*100vw;
  }
}

.home {  
  &-heading {
    padding: 20px (106/1280)*100vw 20px (96/1280)*100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $whitesmoke;
    
    figure {
      margin: 0;
    }
    
    &-nav {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
      }

      li {
        margin-left: (55/1280)*100vw;
        font-size: 1.6rem;
      }
      
      a {
        color: $darkgray;
      }
    }
  }

  @media (max-width: $breakpoint) {
    &-heading {
      padding-left: 25px;
      padding-right: 25px;

      p {
        font-size: 1.6rem;
      }
    }
  }
}

.pc {
  @media (max-width: $breakpoint) {
    display: none;
  }
}

.iphone {
  @media (min-width: $breakpoint) {
    display: none;
  }
}

.drawer {
  &-hamburger {
    width: 32px;
    padding-top: 20px;
    padding-right: 25px;
  }

  &-menu-item {
    font-size: 2.0rem;
    padding: 1.5rem;
    color: $darkgray;
  }
}

.blogcontent {
  margin: (81/1280)*100vw auto 0 auto;
  max-width: (717/1280)*100vw;
  color: $darkgray;

  &-top {
    time {
      font-family: 'avenirbold';
      font-size: 1.6rem;
      color: $grey;
    }
  
    h1 {
      margin: 11px 0 0 0;
      font-family: 'avenirbold';
      font-size: 3.2rem;
      letter-spacing: 0.1em;
    }
  
    figure {
      margin: 40px  0 0 0;
    }
  
    img {
      width: 100%;
    }
  
    figcaption {
      font-size: 1.6rem;
      margin-top: 60px;
    }
  }

  &-middlecolumn {
    margin-top: (70/1280)*100vw;

    h2 {
      margin: 0;
      font-family: 'avenirbold';
      font-size: 3.2rem;
      letter-spacing: 0.1em;
      border-top: 1px solid $silver;
      border-bottom: 1px solid $silver;
      padding: 20px 0;
    }

    p {
      margin: 55px 0 0 0;
      font-size: 1.6rem;
    }
  }

  &-shortcolumn {
    margin-top: (120/1280)*100vw;
    
    h2 {
      margin: 0;
      font-family: 'avenirbold';
      font-size: 2.0rem;
      letter-spacing: 0.1em;
      background: $lightgrey;
      padding: 17px 0 17px 23px;
    }

    p {
      margin: 23px 0 0 0;
      font-size: 1.6rem;
    }
  }

  &-insert {
    margin: (120/1280)*100vw auto 0 auto;
    max-width: (409/1280)*100vw;
  
    img {
      width: 100%;
    }
  }

  &-share {
    margin-top: (103/1280)*100vw;
    display: flex;

    figure {
      margin: 0;
      width: 43%;
    }

    &-btn {
      width: 57%;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        border: 1px solid $smoke;
        font-family: 'avenirbold';
        font-size: 1.6rem;
        color: $darkgray;
        box-sizing: border-box;

        &:last-child {
          border-top: none;
        }
      }
    }
  }

  @media (max-width: $breakpoint) {
    margin-top: 44px;
    max-width: (325/375)*100vw;

    &-top {
      h1 {
        font-size: 2.4rem;
      }

      figcaption {
        font-size: 1.2rem;
        margin-top: 30px;
      }
    }

    &-middlecolumn {
      h2 {
        margin-top: 40px;
        font-size: 2.4rem;
      }

      p {
        margin-top: 40px;
        font-size: 1.2rem;
      }
    }

    &-shortcolumn {
      h2 {
        font-size: 1.6rem;
        padding: 12px 0 12px 18px;
      }

      p {
        font-size: 1.2rem;
      }
    }

    &-insert {
      max-width: (200/375)*100vw;
    }

    &-share {
      margin-top: 40px;

      figure {
        width: 40%;
      }

      &-btn {
        width: 60%;

        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.asidepage {
  margin-top: (180/1280)*100vw;

  h2 {
    margin: 0;
    font-family: 'avenirbold';
    font-size: 2.0rem;
    letter-spacing: 0.1em;
    color: $darkgray;
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 47px;
    grid-row-gap: 67px;
    margin: 40px 0 0 0;
    padding: 0;

    figure {
      margin: 0;
    }

    img {
      width: 100%;
    }

    figcaption {
      margin-top: 7px;
    }

    time {
      font-family: 'avenirbold';
      font-size: 1.6rem;
      color: $grey;
    }

    h3 {
      margin: 11px 0 0 0;
      font-size: 2.0rem;
      letter-spacing: 0.1em;
    }

    a {
      color: $darkgray;
    }

    p {
      margin: 13px 0 0 0;
      font-size: 1.6rem;
      color: $grey;
    }
  }

  @media (max-width: $breakpoint) {
    &-list {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 18px;
      grid-row-gap: 33px;

      li {
        &:last-child {
          display: none;
        }
      }

      time {
        font-size: 1.2rem;
      }

      h3 {
        font-size: 1.4rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}

.contact {
  margin-top: (82/1280)*100vw;
  padding-top: (156/1280)*100vw;
  padding-bottom: (101/1280)*100vw;
  background: $whitesmoke;

  p {
    display: block;
    text-align: center;
    font-size: 2.0rem;
    margin: 0;
  }

  a {
    display: block;
    text-align: center;
    margin: 47px auto 0 auto;
    padding: 34px 0;
    width: 40%;
    color: $white;
    background: $darknavy;
    border-radius: 100px;
    font-family: 'avenirbold';
    font-size: 3.2rem;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  @media (max-width: $breakpoint) {
    margin-top: 44px;
    padding-bottom: (75/375)*100vw;;

    a {
      width: auto;
      padding: 24px 0;
      font-size: 1.6rem;
    }
  }
}

footer {
  height: 165px;
  background: $darknavy;
}
