@charset "UTF-8";

@font-face {
  font-family: 'avenirregular';
  src: url('../../font/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: 'avenirbold';
  src: url('../../font/AvenirNextLTPro-Bold.otf');
}

$black: #000000;
$white: #FFFFFF;
$yellowwhite: #F2F0E8;
$navy: #364D6A;
$darknavy: #2C334B;
$lightblue: #599DC0;
$darkgray: #444444;
$grey: #A4ABB0;
$silver: #888888;
$whitesmoke: #FAFAFA;

$breakpoint: 600px;

html {
  font-size: 62.5%;
}
body {
  font-family: 'avenirregular', sans-serif;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.wrapper {
  max-width: (1096/1280)*100vw;
  margin: 0 auto;

  @media (max-width: $breakpoint) {
    max-width: (325/375)*100vw;
  }
}

.home {  
  &-heading {
    padding: 20px (106/1280)*100vw 20px (96/1280)*100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $whitesmoke;
    
    p {
      margin: 0;
      font-size: 2.0rem;
    }

    a {
      color: $black;
    }
    
    &-nav {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
      }

      li {
        margin-left: (55/1280)*100vw;
        font-size: 1.6rem;
      }
      
      a {
        color: $darkgray;
      }
    }
  }

  &-title {
    h1 {
      font-size: 4.8rem;
      text-align: center;
      margin: 0;
      padding: (110/1280)*100vw 0;
      color: $white;
      background: $darknavy;
      letter-spacing: 0.1em;
    }

    figure {
      margin: 0;
    }
  }

  @media (max-width: $breakpoint) {
    &-heading {
      padding-left: 25px;
      padding-right: 25px;

      p {
        font-size: 1.6rem;
      }
    }
    
    &-title {
      h1 {
        font-size: 3.6rem;
        padding: 20px 0;
      }
    }
  }
}

.pc {
  @media (max-width: $breakpoint) {
    display: none;
  }
}

.iphone {
  @media (min-width: $breakpoint) {
    display: none;
  }
}

.drawer {
  &-hamburger {
    width: 32px;
    padding-top: 20px;
    padding-right: 25px;
  }

  &-menu-item {
    font-size: 2.0rem;
    padding: 1.5rem;
  }
}

.service {
  $this: &;

  border: 15px solid $yellowwhite;

  ul {
    margin: (144/1280)*100vw 0 0 0;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: (116/1280)*100vw;

    &:nth-of-type(2) {
      #{$this}-list {
        h2 {
          &:before {
            content: '#02';
          }
        }
      }
    }

    &:last-child {
      #{$this}-list {
        h2 {
          &:before {
            content: '#03';
          }
        }
      }

      #{$this}-aside {
        h2 {
          &:before {
            content: none;
          }

          &:after {
            content: none;
          }
        }
      }
    }
  }

  &-list {
    width: 48%;

    h2 {
      font-family: 'avenirbold';
      font-size: 2.4rem;
      color: $darknavy;
      margin: 0;
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;
      
      &:before {
        content: '#01';
        display: flex;
        align-items: center;
        padding: 21px 15px;
        color: $white;
        background: $darknavy;
        margin-right: 45px;
      }
    }

    p {
      margin: 30px 0 0 0;
      font-size: 1.4rem;
      color: $silver;
      line-height: 1.8;
    }
  }

  &-aside {
    width: 43%;
    background: $yellowwhite;

    h2 {
      font-family: 'avenirbold';
      font-size: 2.0rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 27.5px (67/1280)*100vw 0 (67/1280)*100vw;
      letter-spacing: 0.1em;

      &:before {
        content: '';
        display: inline-block;
        background-image: url(../../img/doublequot@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 32px;
        height: 85px;
        margin: 23px (34/1280)*100vw 0 0;
      }

      &:after {
        content: '';
        display: inline-block;
        background-image: url(../../img/doublequot@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 32px;
        height: 85px;
        transform: scale(-1, -1);
        margin: 0 0 28px (34/1280)*100vw;
      }
    }

    ul {
      margin: 23.5px 0 0 0;
      list-style-type: disc;
      list-style-position: inside;
      padding: 0 (75/1280)*100vw;
      font-size: 1.4rem;
      color: $silver;
    }

    li {
      display: list-item;
      margin-bottom: 14px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      display: block;
      text-align: center;
      margin: 40px auto 56px auto;
      padding: 24px 0;
      width: 62%;
      color: $white;
      background: $darknavy;
      border-radius: 100px;
      font-family: 'avenirbold';
      font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 0.1em;
    }
  }

  @media (max-width: $breakpoint) {
    border: none;

    li {
      flex-direction: column;
      margin-bottom: 44px;

      &:last-child {
        #{$this}-aside {
          h2 {
            margin: 44px (75/1280)*100vw 0 (75/1280)*100vw;
          }
        }
      }
    }

    &-list {
      width: auto;

      h2 {
        font-size: 2.2rem;

        &:before {
          padding: 16px 10px;
          margin-right: 40px;
        }
      }

      p {
        font-size: 1.2rem;
      }
    }

    &-aside {
      width: auto;
      margin-top: 34px;

      h2 {
        font-size: 1.8rem;
        margin: 0;
      }

      ul {
        margin: 0;
        font-size: 1.2rem;
      }

      li {
        margin-bottom: 9px;
      }

      a {
        margin: 34px (75/1280)*100vw;
        width: auto;
        padding: 15px 0;
      }
    }
  }
}

.contact {
  padding-top: (156/1280)*100vw;

  p {
    display: block;
    text-align: center;
    font-size: 2.0rem;
    margin: 0;
  }

  a {
    display: block;
    text-align: center;
    margin: 47px auto 0 auto;
    padding: 34px 0;
    width: 40%;
    color: $white;
    background: $darknavy;
    border-radius: 100px;
    font-family: 'avenirbold';
    font-size: 3.2rem;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  @media (max-width: $breakpoint) {
    a {
      width: auto;
      padding: 24px 0;
      font-size: 1.6rem;
    }
  }
}

footer {
  margin-top: (101/1280)*100vw;
  height: 165px;
  background: $darknavy;

  @media (max-width: $breakpoint) {
    margin-top: (75/375)*100vw;
  }
}